<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-0">
      <div class="shape shape-style-1 shape-default">
      </div>
    </section>
    <section class="section section-lg pt-lg-0">

      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row row-grid ">
            <div class="col-lg-5  text-center">

              <img src="./assets/img/oasis/Lake%201.jpg" class="card-img-top">
              <button class="btn btn-primary" type="button">Left</button>
            </div>
            <div class="col-lg-2">
              <p class="lead ">The design system comes with four pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
            </div>
            <div class="col-lg-5  text-center">

              <img src="./assets/img/oasis/Rainbow%201.jpg" class="card-img-top">
              <button class="btn btn-primary" type="button">Right</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
