<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-shaped pb-0">
            <div class="shape shape-style-1 shape-default">
            </div>
        </section>
        <section class="section section-sm ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 offset-1">
                        <div class="row text-center" >
                            <div class="col-sm-3">
                                <img src="assets/img/logical/figure.png" alt="figure"  ngbTooltip="figure">
                            </div>
                            <div class="col-sm-3">
                                <img src="assets/img/logical/nofigure.png" alt="figure">
                            </div>
                            <div class="col-sm-3">
                                <img src="assets/img/logical/cardclub.png" alt="figure">
                            </div>
                            <div class="col-sm-3">
                                <img src="assets/img/logical/nocardclub.png" alt="figure">
                            </div>
                        </div>
                        <div class="row text-center mt-2 mb-2">
                            <div class="col-sm-3">
                                <div class="btn btn-primary">verifier</div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="btn btn-primary">verifier</div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="btn btn-primary">verifier</div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="btn btn-primary">verifier</div>
                            </div>

                        </div>
                        <div class="row text-center">
                            <div class="col-sm-3">
                                <img src="assets/img/logical/unknow.png" alt="figure">
                            </div>
                            <div class="col-sm-3">
                                <img src="assets/img/logical/nofigure.png" alt="figure">
                            </div>
                            <div class="col-sm-3">
                                <img src="assets/img/logical/cardclub.png" alt="figure">
                            </div>
                            <div class="col-sm-3">
                                <img src="assets/img/logical/nocardclub.png" alt="figure">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div>histoire</div>
                        <div>regle</div>
                        <div>
                            En vert  : Confirme la regle <br>
                            En rouge : Refute la regle <br>
                            En jaune : Aucun effet sur la regle</div>
                        <div>{{debug}}</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-sm">
            <div class="container  d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4> Credit :</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li>Hygiène Mentale : <a href="https://www.youtube.com/watch?v=pyj6ysoUBNw&ab_channel=Hygi%C3%A8neMentale" target="_blank">Ep13 Comment Tester le Paranormal avec la Science ? (Les cartes de Zener)</a>    </li>
                                <li> Carte zener par Mikhail Ryazanov (talk) 01:30, 1 April 2014 (UTC) — File:Cartas Zener.svg + File:Zenerkarten c.jpg, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=31927664</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
