<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-shaped pb-0">
            <div class="shape shape-style-1 shape-default">
            </div>
        </section>
        <section class="section section-sm ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 offset-1">
                        <div class="row">
                            <div class="col-sm-4">
a<i class="fa-solid fa-martini-glass-citrus"></i>
                            </div>
                            <div class="col-sm-4">
b
                            </div>
                            <div class="col-sm-4">
c
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
d
                            </div>
                            <div class="col-sm-4">
e
                            </div>
                            <div class="col-sm-4">
f
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div>histoire</div>
                        <div>regle</div>
                        <div>Dialogue</div>
                        <div>button</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-sm">
            <div class="container  d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4> Credit :</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li>Hygiène Mentale : <a href="https://www.youtube.com/watch?v=pyj6ysoUBNw&ab_channel=Hygi%C3%A8neMentale" target="_blank">Ep13 Comment Tester le Paranormal avec la Science ? (Les cartes de Zener)</a>    </li>
                                <li> Carte zener par Mikhail Ryazanov (talk) 01:30, 1 April 2014 (UTC) — File:Cartas Zener.svg + File:Zenerkarten c.jpg, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=31927664</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
