<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-shaped pb-0">
            <div class="shape shape-style-1 shape-default">
            </div>
        </section>
        <section class="section section-sm " *ngIf="bayes != null">
            <div class="row ">
                <div class="col-sm-6 offset-3">
                    <div>
                        Histoire :
                        <select id="select-storie" class="form-select" [(ngModel)]="currentStorie" >
                            <option *ngFor="let storie of bayes.stories" [ngValue]="storie">{{storie.name}}</option>
                        </select> <br><br>
                        Liens vers la vidéo :  <a [href]="currentStorie.link" target="_blank" >{{currentStorie.link}}</a><br><br>
                        Description : {{currentStorie.description}}
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-sm " *ngIf="currentStorie != null">
            <div class="container-fluid">
                <div class="row">
                    <div  class="col-sm-6 offset-3">
                        <app-bayesian-graph [storie]="currentStorie"></app-bayesian-graph>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-sm">
            <div class="container  d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4> Credit :</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li>Hygiène Mentale : <a href="https://www.youtube.com/watch?v=x-2uVNze56s&t=337s"
                                                         target="_blank">Ep26 La Pensée Bayésienne</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
