<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-shaped pb-0">
            <div class="shape shape-style-1 shape-default">
            </div>
        </section>
        <section class="section section-sm ">
            <app-wack-a-mole-game strategy="easy"></app-wack-a-mole-game>
        </section>
        <section class="section section-sm ">
            <app-wack-a-mole-game strategy="hard"></app-wack-a-mole-game>
        </section>
        <section class="section section-sm">
            <div class="container  d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4> Credit :</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
