<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-0">
            <div class="shape shape-style-1 shape-default">
            </div>
        </section>
        <section class="section section-lg pt-lg-0">
            <form name="feelingFutureForm" role="form" [formGroup]="feelingFutureForm">
                <div class="container py-lg-md d-flex">
                    <div class="col px-0">
                        <div class="row row-grid ">
                            <div class="col-lg-6  text-center">
                                <input type="text" placeholder="Pseudo (min 3 caracteres)" formControlName="userPseudo">
                            </div>
                            <div class="col-lg-6  text-center">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input class="custom-control-input" id="userConsent" formControlName="userConsent"
                                           type="checkbox">
                                    <label class="custom-control-label" for="userConsent">
                                        <span>userConsent</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row row-grid ">
                            <div class="col-lg-5  text-center">
                                <img [src]="currentImageLeft" class="card-img-top">
                            </div>
                            <div class="col-lg-2 text-center">
                                <button *ngIf="currentStatus == 'success'" class="btn btn-1 btn-outline-success"
                                        type="button">Success
                                </button>
                                <button *ngIf="currentStatus == 'fail'" class="btn btn-1 btn-outline-danger"
                                        type="button">Fail
                                </button>
                                <button *ngIf="currentStatus == 'waiting'" class="btn btn-1 btn-outline-warning"
                                        type="button">Wait <i class="fa fa-spinner"></i></button>
                            </div>
                            <div class="col-lg-5  text-center">
                                <img [src]="currentImageRight" class="card-img-top">
                            </div>
                        </div>
                        <div class="row row-grid ">
                            <div class="col-lg-5  text-center">

                                <button class="btn btn-primary" type="button" (click)="onUserPredictLocation('left')"
                                        [disabled]="feelingFutureForm.invalid|| isWaiting">Left
                                </button>
                            </div>
                            <div class="col-lg-2 text-center">
                                <button class="btn btn-primary" type="button" (click)="onResetWaiting()"
                                        [disabled]="!isWaiting">next Image
                                </button>
                            </div>
                            <div class="col-lg-5  text-center">
                                <button class="btn btn-primary" type="button" (click)="onUserPredictLocation('right')"
                                        [disabled]="feelingFutureForm.invalid || isWaiting">Right
                                </button>
                            </div>
                        </div>

                        <div class="row row-grid ">
                            <div class="col-lg-3  text-center">
                                Global : {{nbImageSuccess}} / {{nbImage}}
                            </div>

                            <div class="col-lg-2  text-center">
                                A gauche : {{nbLeftSuccess}} / {{nbLeft}}
                            </div>

                            <div class="col-lg-2  text-center">
                                A droite : {{nbRightSuccess}} / {{nbRight}}
                            </div>

                            <div class="col-lg-2  text-center">
                                Erotique : {{nbEroticSuccess}} / {{nbErotic}}
                            </div>

                            <div class="col-lg-3  text-center">
                                Non Erotique : {{nbNonEroticSuccess}} / {{nbNonErotic}}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</main>
