<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-0">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">FAQ</h1>
              <p class="lead  text-white">The design system comes with four pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
            </div>
          </div>

          <div class="row row-grid align-items-center">
            <div class="col-md-6 order-lg-2 ml-lg-auto">
              <div class="position-relative pl-md-5">
                <img src="../../../assets/img/ill/ill-2.svg" class="img-center img-fluid">
              </div>
            </div>
            <div class="col-lg-6 order-lg-1 mt-0">
              <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                  <div class="d-flex px-3">
                    <div>
                      <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                        <i class="ni ni-satisfied"></i>
                      </div>
                    </div>
                    <div class="pl-4">
                      <h5 class="title text-success">Awesome Support</h5>
                      <p>Pourquoi ce projet ?
                      est-ce scientifique ?
                      Cette experience prouve quoi ?
                        Quel sont les differences avec le protocol d'origine?
                        Coment savoir si l'experience marche ?
                                   d'ou vienne les images , et pourquoi cette selection ? => oasis car l'autre etait proprietaire , 59 image erotic , 29 image "belle" 29 "moche" et 1 neutre
                      comment etre sur que l'experience est pas truqué </p>

                      <a href="javascript:void(0)" class="text-success">Learn more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                  <div class="d-flex px-3">
                    <div>
                      <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                    <div class="pl-4">
                      <h5 class="title text-warning">Modular Components</h5>
                      <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                      <a href="javascript:void(0)" class="text-warning">Learn more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                  <div class="d-flex px-3">
                    <div>
                      <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                    <div class="pl-4">
                      <h5 class="title text-warning">Modular Components</h5>
                      <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                      <a href="javascript:void(0)" class="text-warning">Learn more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                  <div class="d-flex px-3">
                    <div>
                      <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                    <div class="pl-4">
                      <h5 class="title text-warning">Modular Components</h5>
                      <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                      <a href="javascript:void(0)" class="text-warning">Learn more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                  <div class="d-flex px-3">
                    <div>
                      <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                    <div class="pl-4">
                      <h5 class="title text-warning">Modular Components</h5>
                      <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                      <a href="javascript:void(0)" class="text-warning">Learn more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
</main>
