<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-0">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">FAQ</h1>
           </div>
          </div>

          <div class="row row-grid align-items-center">
            <div class="col-md-3 order-lg-2 ml-lg-auto">
              <div class="position-relative pl-md-5">
                <img src="../../../assets/img/ill/ill-2.svg" class="img-center img-fluid">
              </div>
            </div>
            <div class="col-lg-9 order-lg-1 mt-0">
              <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                  <div class="d-flex px-3">
                    <div>
                      <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                        <i class="ni ni-satisfied"></i>
                      </div>
                    </div>
                    <div class="pl-4">
                      <h5 class="title text-success">C’est quoi la zététique ?</h5>
                      <p>
                        Version courte et personnel : « L’art du doute raisonnable »<br><br>
                        Pour sa définition moderne :<br>
                      <a href="http://laelith.fr/Zet/Galaxie-Sceptique-Francophone/">http://laelith.fr/Zet/Galaxie-Sceptique-Francophone/</a>  <br>
                      <a href="https://menace-theoriste.fr/zetetique/">https://menace-theoriste.fr/zetetique/</a><br><br>
                        Pour sa définition historique :<br>
                      <a href="https://www.cairn.info/histoire-et-philosophie-des-sciences--9782361060398-page-269.htm">https://www.cairn.info/histoire-et-philosophie-des-sciences--9782361060398-page-269.htm</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                  <div class="d-flex px-3">
                    <div>
                      <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                    <div class="pl-4">
                      <h5 class="title text-warning">Quel sont les ressources pour aller plus loin ?</h5>
                      <p>

                        <a href="https://www.youtube.com/c/Hygi%C3%A8neMentale">https://www.youtube.com/c/Hygi%C3%A8neMentale</a>  <br>
                        <a href="https://www.youtube.com/user/TroncheEnBiais ">https://www.youtube.com/user/TroncheEnBiais </a>  <br>
                        <a href="https://www.youtube.com/user/JeanMichelAbrassart">https://www.youtube.com/user/JeanMichelAbrassart</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                  <div class="d-flex px-3">
                    <div>
                      <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                    <div class="pl-4">
                      <h5 class="title text-warning">D’où vient l’idée de faire ce site web ?</h5>
                      <p>
                        Après une vidéo de « Scepticisme Scientifique » sur la <a href = " https://www.youtube.com/watch?v=2LwI-Q7PMPs&ab_channel=ScepticismeScientifique">parapsychologie</a>
                        ,j’ai lu <a href="https://web.archive.org/web/20120103233037/http://dbem.ws/FeelingFuture.pdf"> cette publication scientifique </a>
                        et j’ai voulu expérimenter les différentes expériences mais impossible de retrouver l’application utilisé par la publication ni même de faire des tests scientifiques de parapsychologie en ligne.<br>
                        Pour m’amuser j’ai voulu reproduire le plus sérieusement possible cette expérience grâce a ce site
                      </p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
</main>
