.monty-hall-card {
  height: 100px;
  width: 50px;
  cursor: pointer;
}

.monty-hall-user-selection {
border: #0c85d0 3px solid;
}

.monty-hall-host-selection {
  border: #8bd00c 3px solid;
}

.monty-hall-no-selection {
  border: black 1px solid;
}
