<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-shaped pb-0">
            <div class="shape shape-style-1 shape-default">
            </div>
        </section>
        <section class="section bg-secondary">
            <div class="container-fluid">
                <div class="row row-grid align-items-center">
                    <div class="col-lg-8">
                        <app-monty-hall-game nbDoors="3" strategy="none"></app-monty-hall-game>
                    </div>
                    <div class="col-lg-4">
                        <div class="pl-md-5">
                            <h3>Le problème de Monty Hall</h3>
                            <p>Derrière l'une de ces trois portes se trouve au hasard une voiture et derrière chacune des deux autres se trouve une chèvre.</p>
                            <p>Le joueur sélectionne une porte, ensuite le présentateur désigne une porte qui n'est ni celle choisie par le joueur ni celle cachant la voiture, puis ouvre les autres portes</p><p>
                                Le joueur a la possibilité d’ouvrir la porte qu'il a choisie initialement ou celle désigné par le présentateur
                            </p>
                            <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">Question : Ai-je intérêt de changer de porte ? </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section ">
            <div class="container-fluid">
                <div class="row row-grid align-items-center">
                    <div class="col-lg-8">
                        <app-monty-hall-game nbDoors="3" strategy="keep"></app-monty-hall-game>
                    </div>
                    <div class="col-lg-4">
                        <div class="pl-md-5">
                            <h3>je garde toujours mon choix initial</h3>
                            <p class="lead">Si changer de porte n’as pas d’importance sur mes chances de réussiten je vais tester de toujours garder la porte choisie initialement</p>
                             <p>J'ai une chance sur trois de sélectionner la voiture et donc de gagner .</p>
                            <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">Plus le nombre d’essai est grand plus le % de succès tend vers 33 %</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section  bg-secondary">
            <div class="container-fluid">
                <div class="row row-grid align-items-center">
                    <div class="col-lg-8">
                        <app-monty-hall-game nbDoors="9" strategy="keep"></app-monty-hall-game>
                    </div>
                    <div class="col-lg-4">
                        <div class="pl-md-5">
                            <h3>J’augmente le nombre de porte</h3>
                            <p class="lead">Pour mieux appréhender la solution, les règles ne bouge pas et je garde ma stratégie mais le nombre de porte passe de trois à neuf.</p>
                            <p>J’ai maintenant une chance sur neuf de sélectionner la voiture et donc de gagner .</p>
                            <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">Plus le nombre d’essai est grand plus le % de succès tend vers 11 %</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container-fluid">
                <div class="row row-grid align-items-center">
                    <div class="col-lg-8">
                        <app-monty-hall-game nbDoors="9" strategy="change"></app-monty-hall-game>
                    </div>
                    <div class="col-lg-4">
                        <div class="pl-md-5">
                            <h3>Je change de stratégie</h3>
                            <p class="lead">Maintenant je vais toujours choisir la porte du présentateur, donc la seule façon de perdre est que mon choix initial soit la voiture </p>
                            <p>J’ai maintenant une chance sur neuf de sélectionner la voiture et donc de <b>PERDRE</b> </p>
                            <p>Comme je gagne chaque fois que je ne perd pas j'ai donc huit chance sur neuf de gagner</p>
                            <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">Plus le nombre d’essai est grand plus le % de succès tend vers 89 %</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section  bg-secondary">
            <div class="container-fluid">
                <div class="row row-grid align-items-center">
                    <div class="col-lg-8">
                        <app-monty-hall-game nbDoors="3" strategy="change"></app-monty-hall-game>
                    </div>
                    <div class="col-lg-4">
                        <div class="pl-md-5">
                            <h3>Je réduis le nombre de porte </h3>
                            <p class="lead">Je reviens aux conditions initiales du jeu et je continue de toujours choisir la porte du présentateur .</p>
                            <p>J’ai maintenant une chance sur trois de sélectionner la voiture et donc de <b>PERDRE</b> </p>
                            <p>Comme je gagne chaque fois que je ne perd pas j'ai donc 2 chance sur trois de gagner</p>
                            <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">Plus le nombre d’essai est grand plus le % de succès tend vers 66 %</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section ">
            <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4> Conclusion :</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>J'ai intérêt de changer de porte car j'augmente drastiquement mes chances de gagner (de 33% à 66%).</p>
                            <p>Le  problème de Monty Hall est un probleme de propabilité conditionnelle et sa solution n'est pas évidente de prime abords meme pour des grands mathématiciens.</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4> Credit :</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li>Wikipedia : <a href="https://fr.wikipedia.org/wiki/Probl%C3%A8me_de_Monty_Hall"
                                                   target="_blank">Problème de Monty Hall</a></li>
                                <li>Science4All : <a href="https://www.youtube.com/watch?v=VEWgOMPkXg0"
                                                   target="_blank">Marilyn versus Monty Hall</a></li>
                            </ul>
                        </div>
                    </div>
            </div>
        </section>
    </div>
</main>
