<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-shaped pb-0">
            <div class="shape shape-style-1 shape-default">
            </div>
        </section>
        <section class="section section-sm ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        {{debug}}
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-sm">
            <div class="container  d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4> Credit :</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li>Hygiène Mentale : <a href="https://www.youtube.com/watch?v=x-2uVNze56s&t=337s"
                                                         target="_blank">Ep26 La Pensée Bayésienne</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
