<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-shaped pb-0">
            <div class="shape shape-style-1 shape-default">
            </div>
        </section>
        <section class="section section-sm ">
                <div class="container py-lg-md d-flex">
                    <div class="col px-0">
                        <div class="row mt-4">
                            <div class="col-sm-4  text-center">
                                Nb {{nbZenerTested}} / 25
                            </div>
                            <div class="col-sm-4  text-center">
                                Reussite {{nbZenerSuccess}}
                            </div>
                            <div class="col-sm-4  text-center">
                                Erreur {{nbZenerError}}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-12  text-center">
                                <img src="assets/img/zener/zener-wave.png">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4 text-center">
                                <button class="btn btn-danger" type="button" (click)="onZenerError()">Error</button>
                            </div>
                            <div class="col-sm-4 text-center">
                                <button class="btn btn-primary" type="button" (click)="onZenerNext()">Suivant</button>
                            </div>
                            <div class="col-sm-4  text-center">
                                <button class="btn btn-success" type="button" (click)="onZenerSuccess()">Reussite</button>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section class="section section-sm">
            <div class="container  d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4> Protocole :</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ol>
                                <li>Le participant à plus de 18 ans et accepte de voir des images pouvant heurter les
                                    personnes les plus sensible par son caractère explicitement sexuel ou graphique
                                </li>
                                <li>Le participant doit renseigner un pseudonyme d’au moins 3 caractères et accepter les
                                    conditions d’utilisation
                                </li>
                                <li>Le participant peut pratiquer 3 minutes de relaxation grâce a une musique
                                    appaisantes ( <a href="https://www.youtube.com/watch?v=9TGlc0Fufgk">exemple 1</a> ,
                                    <a href="https://www.youtube.com/watch?v=bQoOev5GNYM">exemple 2</a> , <a
                                            href="https://www.youtube.com/watch?v=Bf_YemfEaDs">exemple 3</a> )
                                </li>
                                <li>Le participant doit essayer de deviner sous quel rideau se trouve l’image grâce au
                                    bouton gauche ou droite
                                </li>
                                <li>Une fois la sélection faite par le participant le rideau se levé et dévoile le
                                    résultat soit une image (érotique ou non érotique) soit un carré blanc si l’image
                                    était sous l’autre rideau
                                </li>
                                <li>Les statistiques de la session sont mis à jour et le participant doit cliquer sur le
                                    bouton « image suivante »
                                </li>
                                <li>Il n’y a pas de limite de temps ou de nombre de prédictions mais plus le nombre de
                                    prédiction est importante plus la p-value a de sens
                                </li>
                                <li>Si la p-value d’une session de plus de 100 images est inferieur a 5% veuillez nous
                                    contacter par mail contact@zet-exp.fr avec votre pseudo utilisé
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <h4> Credit :</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                           Carte zener par Mikhail Ryazanov (talk) 01:30, 1 April 2014 (UTC) — File:Cartas Zener.svg + File:Zenerkarten c.jpg, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=31927664
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
