<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-shaped pb-0">
            <div class="shape shape-style-1 shape-default">
            </div>
        </section>
        <section class="section section-sm ">
                <div class="container py-lg-md d-flex">
                    <div class="col px-0">
                        <div class="row mt-4">
                            <div class="col-sm-4  text-center">
                                Cartes : {{nbZenerTested}} / 25
                            </div>
                            <div class="col-sm-4  text-center">
                                Reussite {{nbZenerSuccess}}
                            </div>
                            <div class="col-sm-4  text-center">
                                Echec {{nbZenerError}}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-12  text-center">
                                <img [src]="currentZenerCard">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-6 text-center">
                                <button class="btn btn-danger" type="button" (click)="onZenerError()" [disabled]="this.nbZenerTested >= this.zenerCards.length">Echec</button>
                            </div>
                            <div class="col-sm-6  text-center">
                                <button class="btn btn-success" type="button" (click)="onZenerSuccess()" [disabled]="this.nbZenerTested >= this.zenerCards.length">Reussite</button>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section class="section section-sm">
            <div class="container  d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4> Protocole :</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ol>
                                <li>Une carte Zener a cinq forme (Carré, Cercle, Croix, Etoile, Vague)
                                </li>
                                <li>25 cartes avec cinq carte de chaque formes sont trié de facon aléatoire
                                </li>
                                <li>L'experimenté sans regardé ni les cartes ni l'expérimentateur essaye de deviné les cartes
                                </li>
                                <li>Apres chaque réponse de l'experimenté , l'expérimentateur clique sur le bouton "reussite" ou "echec" puis previent l'experimenté qu'une nouvelle carte tiré
                                </li>
                                <li>L'expérimentateur ne communique pas a l'experimenté l'echec ou la reussite d'une carte avant la fin de l'experience
                                </li>
                                <li>Au dessus de 10 bonnes réponse, il y a moins de 1% de chance que cela soit du uniquement au hazard
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <h4> Credit :</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                               <li>Hygiène Mentale : <a href="https://www.youtube.com/watch?v=pyj6ysoUBNw&ab_channel=Hygi%C3%A8neMentale" target="_blank">Ep13 Comment Tester le Paranormal avec la Science ? (Les cartes de Zener)</a>    </li>
                                <li> Carte zener par Mikhail Ryazanov (talk) 01:30, 1 April 2014 (UTC) — File:Cartas Zener.svg + File:Zenerkarten c.jpg, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=31927664</li>
                            </ul>
                           </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
