<div class="container-fluid">
    <div class="row mt-1">
        <div class="col-sm-12  text-center">
            <div class="bayesian-question">{{subject.name}}</div>
            <div>Ma croyance initial</div>
            <div class="bayesian-container">
                <div *ngFor="let value of initialHypothesisArea; let index = index"
                     [ngClass]="'bayesian-hypothesis bg-'+ hypothesisColor[index] " [style.width]="value+'%'">H{{index}}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1" *ngFor="let range of currentRange; let indexRange = index;trackBy:trackByIndex;">
        <div class="col-sm-12 ">
            <div>{{subject.hypotheses[indexRange].name}}</div>
            <div class="slide-container">
                <input type="range" min="0" max="100" [(ngModel)]="currentRange[indexRange]"
                       (ngModelChange)="resize()"
                       step="5"
                       [ngClass]="'slider slider-'+hypothesisColor[indexRange] ">
            </div>
        </div>
    </div>


    <div class="row mt-1">
        <div class="col-sm-12 ">
            <div class="slide-ticks-container">
                <span class="slide-ticks-left">Affaiblissement</span>
                <span class="slide-ticks-center">|</span>
                <span class="slide-ticks-right">Renforcement</span>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12  text-center">
            <div class="bayesian-container">

                <div class="bayesian-container">
                    <div *ngFor="let value of finalHypothesisArea; let index = index"
                         [ngClass]="'bayesian-hypothesis bg-'+ hypothesisColor[index] " [style.width]="value+'%'">
                        H{{index}}
                    </div>
                </div>
            </div>
            <div>Ma nouvelle croyance</div>
        </div>
    </div>
</div>
