@import 'src/assets/scss/argon';

.monty-hall-card {
    height: 100px;
    width: 50px;
    cursor: pointer;
}

.monty-hall-user-selection {
    border: $blue 3px solid;
}

.monty-hall-host-selection {
    border: $yellow 3px solid;
}

.monty-hall-no-selection {
    border:  $darker 1px solid;
}

.monty-hall-win {
    border: $darker 1px solid;
}

.monty-hall-separate-door {
    border-top: $darker 1px solid;
    margin-top: 5px;
    padding-top: 5px;
}
